.gradle
.idea
app/build/generated/assets/
app/build/generated/res/
app/build/generated/source/aidl/
app/build/generated/source/r/androidTest/
app/build/generated/source/rs/
app/build/intermediates/assets/
app/build/intermediates/blame/res/androidTest/
app/build/intermediates/dependency-cache/
app/build/intermediates/manifest/tmp/
app/build/intermediates/reload-dex/
app/build/intermediates/res/merged/androidTest/
app/build/intermediates/rs/
app/build/intermediates/shaders/
app/build/intermediates/symbols/
app/build/intermediates/transforms/extractJars/
app/build/intermediates/transforms/mergeJavaRes/
app/build/tmp/
app/libs/.DS_Store
app/src/main/.DS_Store
app/src/main/jniLibs/.DS_Store
